@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-quicksand: "Quicksand", sans-serif;
}

@layer base {
  /* balance multiline headings (ensure an evenly distrubuted lenght on all lines) */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* prevent orphan words on long texts (if one goes next line, enforce the second one to go with it) */
  p,
  li {
    text-wrap: pretty;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-xl px-6;

    &[data-width="wide"] {
      @apply xl:max-w-6xl;
    }
  }

  .status-checkbox {
    @apply border rounded-full size-5 border-stone-400;
    @apply hover:border-amber-200 hover:cursor-pointer hover:bg-amber-300/10;
    @apply flex items-center justify-center transition-all duration-500;

    & > .inner-circle {
      @apply border rounded-full bg-amber-200 border-amber-200 transition-all duration-500 size-3;
    }
  }

  .close-icon {
    @apply bg-transparent hover:bg-red-500/60 border rounded-full border-transparent;
    @apply transition-all duration-500 rotate-0 hover:rotate-90;
  }
}

@layer utilities {
  .debug {
    @apply border-2 border-red-700;
  }

  .no-scrollbar {
    /* Hide scrollbar: Firefox */
    scrollbar-width: none;
    
    /* Hide scrollbar: Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
}