@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  /* balance multiline headings (ensure an evenly distrubuted lenght on all lines) */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* prevent orphan words on long texts (if one goes next line, enforce the second one to go with it) */
  p,
  li {
    text-wrap: pretty;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-2xl px-4 sm:px-6 lg:px-8;

    &[data-width="wide"] {
      @apply xl:max-w-6xl;
    }
  }
}

@layer utilities {
  .debug {
    @apply border-red-700 border-2
  }
}